/* RENKLER */
.bg-kirmizi   {background-color: #F44336 !important;}
.bg-pembe     {background-color: #E91E63 !important;}
.bg-mor       {background-color: #9C27B0 !important;}
.bg-kMor      {background-color: #673AB7 !important;}
.bg-civit     {background-color: #3F51B5 !important;}
.bg-mavi      {background-color: #2196F3 !important;}
.bg-aMavi     {background-color: #03A9F4 !important;}
.bg-camGobegi {background-color: #00BCD4 !important;}
.bg-camurcun  {background-color: #009587 !important;}
.bg-yesil     {background-color: #4CAF50 !important;}
.bg-aYesil    {background-color: #8BC34A !important;}
.bg-limon     {background-color: #CDDC39 !important;}
.bg-sari      {background-color: #FFEB3B !important;}
.bg-kehribar  {background-color: #FFC107 !important;}
.bg-portakal  {background-color: #FF9800 !important;}
.bg-kPortakal {background-color: #FF5722 !important;}
.bg-kahve     {background-color: #795548 !important;}
.bg-gri       {background-color: #9E9E9E !important;}
.bg-maviGri   {background-color: #607D8B !important;}
.bg-siyah     {background-color: #000000 !important;}
.bg-beyaz     {background-color: #FFFFFF !important;}

.maviGri-0    {background-color: #eceff1 !important;}
.maviGri-0t   {color:            #eceff1 !important;}
.maviGri-1    {background-color: #cfd8dc !important;}
.maviGri-1t   {color:            #cfd8dc !important;}
.maviGri-2    {background-color: #b0bec5 !important;}
.maviGri-2t   {color:            #b0bec5 !important;}
.maviGri-3    {background-color: #90a4ae !important;}
.maviGri-3t   {color:            #90a4ae !important;}
.maviGri-4    {background-color: #78909c !important;}
.maviGri-4t   {color:            #78909c !important;}
.maviGri-5    {background-color: #607d8b !important;}
.maviGri-5t   {color:            #607d8b !important;}
.maviGri-6    {background-color: #546e7a !important;}
.maviGri-6t   {color:            #546e7a !important;}
.maviGri-7    {background-color: #455a64 !important;}
.maviGri-7t   {color:            #455a64 !important;}
.maviGri-8    {background-color: #37474f !important;}
.maviGri-8t   {color:            #37474f !important;}
.maviGri-9    {background-color: #263238 !important;}
.maviGri-9t   {color:            #263238 !important;}

.gri-0        {background-color: #fafafa !important;}
.gri-0t       {color:            #fafafa !important;}
.gri-1        {background-color: #f5f5f5 !important;}
.gri-1t       {color:            #f5f5f5 !important;}
.gri-2        {background-color: #eeeeee !important;}
.gri-2t       {color:            #eeeeee !important;}
.gri-3        {background-color: #e0e0e0 !important;}
.gri-3t       {color:            #e0e0e0 !important;}
.gri-4        {background-color: #bdbdbd !important;}
.gri-4t       {color:            #bdbdbd !important;}
.gri-5        {background-color: #9e9e9e !important;}
.gri-5t       {color:            #9e9e9e !important;}
.gri-6        {background-color: #757575 !important;}
.gri-6t       {color:            #757575 !important;}
.gri-7        {background-color: #616161 !important;}
.gri-7t       {color:            #616161 !important;}
.gri-8        {background-color: #424242 !important;}
.gri-8t       {color:            #424242 !important;}
.gri-9        {background-color: #212121 !important;}
.gri-9t       {color:            #212121 !important;}

.kahve-0      {background-color: #efebe9 !important;}
.kahve-0t     {color:            #efebe9 !important;}
.kahve-1      {background-color: #d7ccc8 !important;}
.kahve-1t     {color:            #d7ccc8 !important;}
.kahve-2      {background-color: #bcaaa4 !important;}
.kahve-2t     {color:            #bcaaa4 !important;}
.kahve-3      {background-color: #a1887f !important;}
.kahve-3t     {color:            #a1887f !important;}
.kahve-4      {background-color: #8d6e63 !important;}
.kahve-4t     {color:            #8d6e63 !important;}
.kahve-5      {background-color: #795548 !important;}
.kahve-5t     {color:            #795548 !important;}
.kahve-6      {background-color: #6d4c41 !important;}
.kahve-6t     {color:            #6d4c41 !important;}
.kahve-7      {background-color: #5d4037 !important;}
.kahve-7t     {color:            #5d4037 !important;}
.kahve-8      {background-color: #4e342e !important;}
.kahve-8t     {color:            #4e342e !important;}
.kahve-9      {background-color: #3e2723 !important;}
.kahve-9t     {color:            #3e2723 !important;}

.kPortakal-0  {background-color: #fbe9e7 !important;}
.kPortakal-0t {color:            #fbe9e7 !important;}
.kPortakal-1  {background-color: #ffccbc !important;}
.kPortakal-1t {color:            #ffccbc !important;}
.kPortakal-2  {background-color: #ffab91 !important;}
.kPortakal-2t {color:            #ffab91 !important;}
.kPortakal-3  {background-color: #ff8a65 !important;}
.kPortakal-3t {color:            #ff8a65 !important;}
.kPortakal-4  {background-color: #ff7043 !important;}
.kPortakal-4t {color:            #ff7043 !important;}
.kPortakal-5  {background-color: #ff5722 !important;}
.kPortakal-5t {color:            #ff5722 !important;}
.kPortakal-6  {background-color: #f4511e !important;}
.kPortakal-6t {color:            #f4511e !important;}
.kPortakal-7  {background-color: #e64a19 !important;}
.kPortakal-7t {color:            #e64a19 !important;}
.kPortakal-8  {background-color: #d84315 !important;}
.kPortakal-8t {color:            #d84315 !important;}
.kPortakal-9  {background-color: #bf360c !important;}
.kPortakal-9t {color:            #bf360c !important;}

.portakal-0   {background-color: #fff3e0 !important;}
.portakal-0t  {color:            #fff3e0 !important;}
.portakal-1   {background-color: #ffe0b2 !important;}
.portakal-1t  {color:            #ffe0b2 !important;}
.portakal-2   {background-color: #ffcc80 !important;}
.portakal-2t  {color:            #ffcc80 !important;}
.portakal-3   {background-color: #ffb74d !important;}
.portakal-3t  {color:            #ffb74d !important;}
.portakal-4   {background-color: #ffa726 !important;}
.portakal-4t  {color:            #ffa726 !important;}
.portakal-5   {background-color: #ff9800 !important;}
.portakal-5t  {color:            #ff9800 !important;}
.portakal-6   {background-color: #fb8c00 !important;}
.portakal-6t  {color:            #fb8c00 !important;}
.portakal-7   {background-color: #f57c00 !important;}
.portakal-7t  {color:            #f57c00 !important;}
.portakal-8   {background-color: #ef6c00 !important;}
.portakal-8t  {color:            #ef6c00 !important;}
.portakal-9   {background-color: #e65100 !important;}
.portakal-9t  {color:            #e65100 !important;}

.kehribar-0   {background-color: #fff8e1 !important;}
.kehribar-0t  {color:            #fff8e1 !important;}
.kehribar-1   {background-color: #ffecb3 !important;}
.kehribar-1t  {color:            #ffecb3 !important;}
.kehribar-2   {background-color: #ffe082 !important;}
.kehribar-2t  {color:            #ffe082 !important;}
.kehribar-3   {background-color: #ffd54f !important;}
.kehribar-3t  {color:            #ffd54f !important;}
.kehribar-4   {background-color: #ffca28 !important;}
.kehribar-4t  {color:            #ffca28 !important;}
.kehribar-5   {background-color: #ffc107 !important;}
.kehribar-5t  {color:            #ffc107 !important;}
.kehribar-6   {background-color: #ffb300 !important;}
.kehribar-6t  {color:            #ffb300 !important;}
.kehribar-7   {background-color: #ffa000 !important;}
.kehribar-7t  {color:            #ffa000 !important;}
.kehribar-8   {background-color: #ff8f00 !important;}
.kehribar-8t  {color:            #ff8f00 !important;}
.kehribar-9   {background-color: #ff6f00 !important;}
.kehribar-9t  {color:            #ff6f00 !important;}

.sari-0       {background-color: #fffde7 !important;}
.sari-0t      {color:            #fffde7 !important;}
.sari-1       {background-color: #fff9c4 !important;}
.sari-1t      {color:            #fff9c4 !important;}
.sari-2       {background-color: #fff59d !important;}
.sari-2t      {color:            #fff59d !important;}
.sari-3       {background-color: #fff176 !important;}
.sari-3t      {color:            #fff176 !important;}
.sari-4       {background-color: #ffee58 !important;}
.sari-4t      {color:            #ffee58 !important;}
.sari-5       {background-color: #ffeb3b !important;}
.sari-5t      {color:            #ffeb3b !important;}
.sari-6       {background-color: #fdd835 !important;}
.sari-6t      {color:            #fdd835 !important;}
.sari-7       {background-color: #fbc02d !important;}
.sari-7t      {color:            #fbc02d !important;}
.sari-8       {background-color: #f9a825 !important;}
.sari-8t      {color:            #f9a825 !important;}
.sari-9       {background-color: #f57f17 !important;}
.sari-9t      {color:            #f57f17 !important;}

.limon-0      {background-color: #f9fbe7 !important;}
.limon-0t     {color:            #f9fbe7 !important;}
.limon-1      {background-color: #f0f4c3 !important;}
.limon-1t     {color:            #f0f4c3 !important;}
.limon-2      {background-color: #e6ee9c !important;}
.limon-2t     {color:            #e6ee9c !important;}
.limon-3      {background-color: #dce775 !important;}
.limon-3t     {color:            #dce775 !important;}
.limon-4      {background-color: #d4e157 !important;}
.limon-4t     {color:            #d4e157 !important;}
.limon-5      {background-color: #cddc39 !important;}
.limon-5t     {color:            #cddc39 !important;}
.limon-6      {background-color: #c0ca33 !important;}
.limon-6t     {color:            #c0ca33 !important;}
.limon-7      {background-color: #afb42b !important;}
.limon-7t     {color:            #afb42b !important;}
.limon-8      {background-color: #9e9d24 !important;}
.limon-8t     {color:            #9e9d24 !important;}
.limon-9      {background-color: #827717 !important;}
.limon-9t     {color:            #827717 !important;}

.aYesil-0     {background-color: #f1f8e9 !important;}
.aYesil-0t    {color:            #f1f8e9 !important;}
.aYesil-1     {background-color: #dcedc8 !important;}
.aYesil-1t    {color:            #dcedc8 !important;}
.aYesil-2     {background-color: #c5e1a5 !important;}
.aYesil-2t    {color:            #c5e1a5 !important;}
.aYesil-3     {background-color: #aed581 !important;}
.aYesil-3t    {color:            #aed581 !important;}
.aYesil-4     {background-color: #9ccc65 !important;}
.aYesil-4t    {color:            #9ccc65 !important;}
.aYesil-5     {background-color: #8bc34a !important;}
.aYesil-5t    {color:            #8bc34a !important;}
.aYesil-6     {background-color: #7cb342 !important;}
.aYesil-6t    {color:            #7cb342 !important;}
.aYesil-7     {background-color: #689f38 !important;}
.aYesil-7t    {color:            #689f38 !important;}
.aYesil-8     {background-color: #558b2f !important;}
.aYesil-8t    {color:            #558b2f !important;}
.aYesil-9     {background-color: #33691e !important;}
.aYesil-9t    {color:            #33691e !important;}

.yesil-0      {background-color: #e8f5e9 !important;}
.yesil-0t     {color:            #e8f5e9 !important;}
.yesil-1      {background-color: #c8e6c9 !important;}
.yesil-1t     {color:            #c8e6c9 !important;}
.yesil-2      {background-color: #a5d6a7 !important;}
.yesil-2t     {color:            #a5d6a7 !important;}
.yesil-3      {background-color: #81c784 !important;}
.yesil-3t     {color:            #81c784 !important;}
.yesil-4      {background-color: #66bb6a !important;}
.yesil-4t     {color:            #66bb6a !important;}
.yesil-5      {background-color: #4caf50 !important;}
.yesil-5t     {color:            #4caf50 !important;}
.yesil-6      {background-color: #43a047 !important;}
.yesil-6t     {color:            #43a047 !important;}
.yesil-7      {background-color: #388e3c !important;}
.yesil-7t     {color:            #388e3c !important;}
.yesil-8      {background-color: #2e7d32 !important;}
.yesil-8t     {color:            #2e7d32 !important;}
.yesil-9      {background-color: #1b5e20 !important;}
.yesil-9t     {color:            #1b5e20 !important;}

.camurcun-0   {background-color: #e0f2f1 !important;}
.camurcun-0t  {color:            #e0f2f1 !important;}
.camurcun-1   {background-color: #b2dfdb !important;}
.camurcun-1t  {color:            #b2dfdb !important;}
.camurcun-2   {background-color: #80cbc4 !important;}
.camurcun-2t  {color:            #80cbc4 !important;}
.camurcun-3   {background-color: #4db6ac !important;}
.camurcun-3t  {color:            #4db6ac !important;}
.camurcun-4   {background-color: #26a69a !important;}
.camurcun-4t  {color:            #26a69a !important;}
.camurcun-5   {background-color: #009688 !important;}
.camurcun-5t  {color:            #009688 !important;}
.camurcun-6   {background-color: #00897b !important;}
.camurcun-6t  {color:            #00897b !important;}
.camurcun-7   {background-color: #00796b !important;}
.camurcun-7t  {color:            #00796b !important;}
.camurcun-8   {background-color: #00695c !important;}
.camurcun-8t  {color:            #00695c !important;}
.camurcun-9   {background-color: #004d40 !important;}
.camurcun-9t  {color:            #004d40 !important;}

.camGobegi-0  {background-color: #e0f7fa !important;}
.camGobegi-0t {color:            #e0f7fa !important;}
.camGobegi-1  {background-color: #b2ebf2 !important;}
.camGobegi-1t {color:            #b2ebf2 !important;}
.camGobegi-2  {background-color: #80deea !important;}
.camGobegi-2t {color:            #80deea !important;}
.camGobegi-3  {background-color: #4dd0e1 !important;}
.camGobegi-3t {color:            #4dd0e1 !important;}
.camGobegi-4  {background-color: #26c6da !important;}
.camGobegi-4t {color:            #26c6da !important;}
.camGobegi-5  {background-color: #00bcd4 !important;}
.camGobegi-5t {color:            #00bcd4 !important;}
.camGobegi-6  {background-color: #00acc1 !important;}
.camGobegi-6t {color:            #00acc1 !important;}
.camGobegi-7  {background-color: #0097a7 !important;}
.camGobegi-7t {color:            #0097a7 !important;}
.camGobegi-8  {background-color: #00838f !important;}
.camGobegi-8t {color:            #00838f !important;}
.camGobegi-9  {background-color: #006064 !important;}
.camGobegi-9t {color:            #006064 !important;}

.aMavi-0      {background-color: #e1f5fe !important;}
.aMavi-0t     {color:            #e1f5fe !important;}
.aMavi-1      {background-color: #b3e5fc !important;}
.aMavi-1t     {color:            #b3e5fc !important;}
.aMavi-2      {background-color: #81d4fa !important;}
.aMavi-2t     {color:            #81d4fa !important;}
.aMavi-3      {background-color: #4fc3f7 !important;}
.aMavi-3t     {color:            #4fc3f7 !important;}
.aMavi-4      {background-color: #29b6f6 !important;}
.aMavi-4t     {color:            #29b6f6 !important;}
.aMavi-5      {background-color: #03a9f4 !important;}
.aMavi-5t     {color:            #03a9f4 !important;}
.aMavi-6      {background-color: #039be5 !important;}
.aMavi-6t     {color:            #039be5 !important;}
.aMavi-7      {background-color: #0288d1 !important;}
.aMavi-7t     {color:            #0288d1 !important;}
.aMavi-8      {background-color: #0277bd !important;}
.aMavi-8t     {color:            #0277bd !important;}
.aMavi-9      {background-color: #01579b !important;}
.aMavi-9t     {color:            #01579b !important;}

.mavi-0       {background-color: #e3f2fd !important;}
.mavi-0t      {color:            #e3f2fd !important;}
.mavi-1       {background-color: #bbdefb !important;}
.mavi-1t      {color:            #bbdefb !important;}
.mavi-2       {background-color: #90caf9 !important;}
.mavi-2t      {color:            #90caf9 !important;}
.mavi-3       {background-color: #64b5f6 !important;}
.mavi-3t      {color:            #64b5f6 !important;}
.mavi-4       {background-color: #42a5f5 !important;}
.mavi-4t      {color:            #42a5f5 !important;}
.mavi-5       {background-color: #2196f3 !important;}
.mavi-5t      {color:            #2196f3 !important;}
.mavi-6       {background-color: #1e88e5 !important;}
.mavi-6t      {color:            #1e88e5 !important;}
.mavi-7       {background-color: #1976d2 !important;}
.mavi-7t      {color:            #1976d2 !important;}
.mavi-8       {background-color: #1565c0 !important;}
.mavi-8t      {color:            #1565c0 !important;}
.mavi-9       {background-color: #0d47a1 !important;}
.mavi-9t      {color:            #0d47a1 !important;}

.civit-0      {background-color: #e8eaf6 !important;}
.civit-0t     {color:            #e8eaf6 !important;}
.civit-1      {background-color: #c5cae9 !important;}
.civit-1t     {color:            #c5cae9 !important;}
.civit-2      {background-color: #9fa8da !important;}
.civit-2t     {color:            #9fa8da !important;}
.civit-3      {background-color: #7986cb !important;}
.civit-3t     {color:            #7986cb !important;}
.civit-4      {background-color: #5c6bc0 !important;}
.civit-4t     {color:            #5c6bc0 !important;}
.civit-5      {background-color: #3f51b5 !important;}
.civit-5t     {color:            #3f51b5 !important;}
.civit-6      {background-color: #3949ab !important;}
.civit-6t     {color:            #3949ab !important;}
.civit-7      {background-color: #303f9f !important;}
.civit-7t     {color:            #303f9f !important;}
.civit-8      {background-color: #283593 !important;}
.civit-8t     {color:            #283593 !important;}
.civit-9      {background-color: #1a237e !important;}
.civit-9t     {color:            #1a237e !important;}

.kMor-0       {background-color: #ede7f6 !important;}
.kMor-0t      {color:            #ede7f6 !important;}
.kMor-1       {background-color: #d1c4e9 !important;}
.kMor-1t      {color:            #d1c4e9 !important;}
.kMor-2       {background-color: #b39ddb !important;}
.kMor-2t      {color:            #b39ddb !important;}
.kMor-3       {background-color: #9575cd !important;}
.kMor-3t      {color:            #9575cd !important;}
.kMor-4       {background-color: #7e57c2 !important;}
.kMor-4t      {color:            #7e57c2 !important;}
.kMor-5       {background-color: #673ab7 !important;}
.kMor-5t      {color:            #673ab7 !important;}
.kMor-6       {background-color: #5e35b1 !important;}
.kMor-6t      {color:            #5e35b1 !important;}
.kMor-7       {background-color: #512da8 !important;}
.kMor-7t      {color:            #512da8 !important;}
.kMor-8       {background-color: #4527a0 !important;}
.kMor-8t      {color:            #4527a0 !important;}
.kMor-9       {background-color: #311b92 !important;}
.kMor-9t      {color:            #311b92 !important;}

.mor-0        {background-color: #f3e5f5 !important;}
.mor-0t       {color:            #f3e5f5 !important;}
.mor-1        {background-color: #e1bee7 !important;}
.mor-1t       {color:            #e1bee7 !important;}
.mor-2        {background-color: #ce93d8 !important;}
.mor-2t       {color:            #ce93d8 !important;}
.mor-3        {background-color: #ba68c8 !important;}
.mor-3t       {color:            #ba68c8 !important;}
.mor-4        {background-color: #ab47bc !important;}
.mor-4t       {color:            #ab47bc !important;}
.mor-5        {background-color: #9c27b0 !important;}
.mor-5t       {color:            #9c27b0 !important;}
.mor-6        {background-color: #8e24aa !important;}
.mor-6t       {color:            #8e24aa !important;}
.mor-7        {background-color: #7b1fa2 !important;}
.mor-7t       {color:            #7b1fa2 !important;}
.mor-8        {background-color: #6a1b9a !important;}
.mor-8t       {color:            #6a1b9a !important;}
.mor-9        {background-color: #4a148c !important;}
.mor-9t       {color:            #4a148c !important;}

.pembe-0      {background-color: #fce4ec !important;}
.pembe-0t     {color:            #fce4ec !important;}
.pembe-1      {background-color: #f8bbd0 !important;}
.pembe-1t     {color:            #f8bbd0 !important;}
.pembe-2      {background-color: #f48fb1 !important;}
.pembe-2t     {color:            #f48fb1 !important;}
.pembe-3      {background-color: #f06292 !important;}
.pembe-3t     {color:            #f06292 !important;}
.pembe-4      {background-color: #ec407a !important;}
.pembe-4t     {color:            #ec407a !important;}
.pembe-5      {background-color: #e91e63 !important;}
.pembe-5t     {color:            #e91e63 !important;}
.pembe-6      {background-color: #d81b60 !important;}
.pembe-6t     {color:            #d81b60 !important;}
.pembe-7      {background-color: #c2185b !important;}
.pembe-7t     {color:            #c2185b !important;}
.pembe-8      {background-color: #ad1457 !important;}
.pembe-8t     {color:            #ad1457 !important;}
.pembe-9      {background-color: #880e4f !important;}
.pembe-9t     {color:            #880e4f !important;}

.kirmizi-0    {background-color: #ffebee !important;}
.kirmizi-0t   {color:            #ffebee !important;}
.kirmizi-1    {background-color: #ffcdd2 !important;}
.kirmizi-1t   {color:            #ffcdd2 !important;}
.kirmizi-2    {background-color: #ef9a9a !important;}
.kirmizi-2t   {color:            #ef9a9a !important;}
.kirmizi-3    {background-color: #e57373 !important;}
.kirmizi-3t   {color:            #e57373 !important;}
.kirmizi-4    {background-color: #ef5350 !important;}
.kirmizi-4t   {color:            #ef5350 !important;}
.kirmizi-5    {background-color: #f44336 !important;}
.kirmizi-5t   {color:            #f44336 !important;}
.kirmizi-6    {background-color: #e53935 !important;}
.kirmizi-6t   {color:            #e53935 !important;}
.kirmizi-7    {background-color: #d32f2f !important;}
.kirmizi-7t   {color:            #d32f2f !important;}
.kirmizi-8    {background-color: #c62828 !important;}
.kirmizi-8t   {color:            #c62828 !important;}
.kirmizi-9    {background-color: #b71c1c !important;}
.kirmizi-9t   {color:            #b71c1c !important;}

.beyaz-0      {background-color: #ffffff !important;}
.beyaz-0t     {color:            #ffffff !important;}